---
type Props = {
	path: string;
};
const { path } = Astro.props;
---

<footer>
	<h5>Made by <a href="https://archerhu.me/">Archer Hume</a> ❤️</h5>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
